# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=task_tracker
POSTGRES_USER=tracker
POSTGRES_PASSWORD=tracker_secret

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=tracker
RABBITMQ_PASSWORD=tracker_secret
RABBITMQ_VHOST=tracker

# Liquibase
LIQUIBASE_URL=jdbc:postgresql://postgres:5432/task_tracker
LIQUIBASE_USERNAME=tracker
LIQUIBASE_PASSWORD=tracker_secret
